header {
  height: 10vh;
	width: 100%;
  display: flex;
	border-bottom: 4px dotted black;

	.headerContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 10px;
		margin: 2% 5%;
		padding-inline: 2%;

		.title {
			font-size: 1.7em;
			font-weight: 700;
		};

		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			width: 40vw;

			li {
				height: 3vw;
				width: 7vw;
				background-color: white;
				border-radius: 50%;
				font-size: 1.2em;
				display: flex;
				justify-content: space-around;
				align-items: center;

				a {
					color: black;
					text-decoration: none;
				};
			}

			li:hover {
				background-color: rgb(206, 206, 206);
			}
		};
		
	};
};
